<%- model_class = Book -%>
<div class="page-header">
  <h1>图书借阅清单</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>

    <th>借阅人</th>
    <th>图书名称</th>
    <th>借阅日</th>
    <th>返还日</th>
    <th>状态</th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>

  <tbody>


  <% @lendbooks.each do |lendbook| %>
      <tr>
        <td><%= link_to lendbook.id, lendbook_path(lendbook) %></td>

        <td><%= lendbook.employee.name %></td>
        <td><%= lendbook.book.name %></td>
        <td><%= lendbook.date %></td>
        <td><%= lendbook.returndate %></td>
        <td>
          <% ["借阅中", "已经返还", "丢失"].each_with_index do |content, index| %>
              <% if (index+1).to_s==lendbook.status then %>
                  <%= content %>
              <% end %>
          <% end %>


        </td>
        <td><%= link_to '详情', lendbook, :class => 'btn btn-mini btn-danger' %></td>
        <td><%= link_to '编辑', edit_lendbook_path(lendbook), :class => 'btn btn-mini btn-danger' %></td>
        <td><%= link_to '删除', lendbook, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
  <% end %>
  </table>


<%= link_to '新的借书操作', new_lendbook_path, :class => 'btn btn-mini btn-danger' %>
