<p id="notice"><%= notice %></p>

<p>
  <b>借阅人:</b>
  <%= @lendbook.employee.name %>
</p>

<p>
  <b>图书:</b>
  <%= @lendbook.book.name %>
</p>


<p>
  <b>借阅日期:</b>
  <%= @lendbook.date %>
</p>

<p>
  <b>返还日期:</b>
  <%= @lendbook.returndate %>
</p>

<p>
  <b>返还日期:</b>
  <% ["借阅中", "已经返还", "丢失"].each_with_index do |content, index| %>
      <% if (index+1).to_s==@lendbook.status then %>
          <%= content %>
      <% end %>
  <%end%>
</p>


<%= link_to 'Edit', edit_lendbook_path(@lendbook) %> |
<%= link_to 'Back', lendbooks_path %>
