<h1>雇员清单</h1>

<table>
  <tr>
    <th>姓名</th>
    <th>性别</th>
    <th>部门</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td>

          <% ["男", "女", "保密"].each_with_index do |content, index| %>
              <% if (index+1).to_s==employee.gender then %>
                    <%= content %>
              <% end %>
          <%end%>
        </td>
        <td><%= employee.department.name %></td>
        <td><%= link_to '查看', employee %></td>
        <td><%= link_to '编辑', edit_employee_path(employee) %></td>
        <td><%= link_to '删除', employee, method: :delete, data: {confirm: '确认么?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Employee', new_employee_path %>
