<%- model_class = Book -%>
<div class="page-header">
  <h1>用户管理</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>

    <th>邮件</th>
    <th>角色</th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>

  <tbody>


  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>

        <td><%= user.email %></td>
        <td>

          <% for role in user.roles %>
                <%= role.name %>
          <% end %>

        </td>
        <td><%= link_to '查看', user , :class => 'btn btn-mini btn-danger'%></td>
        <td><%= link_to '编辑', edit_user_path(user) , :class => 'btn btn-mini btn-danger'%></td>
        <td><%= link_to '删除', user, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
  <% end %>

</table>
<%= link_to '创建新用户', :controller => "users", :action => "new" , :class => 'btn btn-mini btn-danger'  %>

<br/>

