<h1>用户管理</h1>

<table>
  <tr>
    <th>邮件</th>
    <th>角色</th>

  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>

          <% for role in user.roles %>
                <%= role.name %>
          <% end %>

        </td>
        <td><%= link_to '查看', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '删除', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>

</table>
<%= link_to '创建新用户', :controller => "users", :action => "new"   %>

<br/>

