<p id="notice"><%= notice %></p>

<p>
  <b>部门名:</b>
  <%= @department.name %>
</p>

<p>
  <b>简称:</b>
  <%= @department.title %>
</p>

<p>
  <b>说明:</b>
  <%= @department.description %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
